body {
}
#makeMeAnArray {
    background-color: hotpink;
}
.box1 {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    background-color: yellow;
    float: left;
    
}
.box2 {
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;   
}
.myColor {
    color: red;
}
